*,
*::before,
*::after {
  box-sizing: border-box;
}

$colors: (
  bg: #f5f5f5,
  grey-medium: #858687,
  grey-dark: #4a4a4a,
  black: #302e2e,
  accent: #2187ff,
);

$desktop: 768px;
$nav-height: 7vh;
$desktop-margin: 9vw;

//media query for mobile first
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
  //insection say @include desktop{ media stuff}
}

$body-margin: 10vw;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 0;
  bottom: 0;
  font-weight: 400;
  color: color(black);
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 0.3rem;
  line-height: 3.7rem;
}

h2 {
  margin: 0;
}

button {
  &::-moz-focus-inner {
    border: 0;
  }
  // // overflow: hidden;
}

nav {
  padding: 0 $desktop-margin;
  display: flex;
  align-items: center;
  height: $nav-height;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  color: color(grey-dark);

  .logo {
    text-transform: up;
  }
  .nav-main {
    flex: 1;
    text-align: right;

    a {
      margin-left: 2rem;
      padding-bottom: 0.3rem;
      text-decoration: none;
      letter-spacing: 1px;
      color: color(grey-dark);

      &.active {
        border-bottom: 2px solid color(accent);
        color: color(grey-dark);
      }
      &:hover {
        color: color(grey-medium);
        transition: 0.3s;
      }
    }
  }
}

.container {
  display: grid;
  background-color: color(bg);
  grid-template-columns: 1fr 2fr;
  padding: 0 $desktop-margin;
  column-gap: $desktop-margin;
  position: relative;
  min-height: 100vh - $nav-height;
  header {
    // justify-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    .header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 15rem;
      // background-color: pink;
      // margin-top: 20vh;
      position: fixed;
      top: 30vh;

      .btn-main {
        color: color(bg);
        background-color: color(grey-dark);
        border: 1px solid color(grey-dark);
        height: 3rem;
        font-size: 0.9rem;
        // padding: 0 3rem;
        text-align: center;
        outline: none;
        width: 10rem;
        transition: all 0.2s ease;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%;
          background-color: color(bg);
          transition: all 0.3s;
          z-index: -1;
        }
        &:hover {
          color: color(grey-dark);
          &:before {
            height: 100%;
          }
        }
      }
    }
  }
  section {
    // background-color: greenyellow;
    margin: auto 0;
    .quote-container {
      margin: 4rem 0;
      h2 {
        font-weight: 400;
        font-size: 1.3rem;
        // text-transform: uppercase;
        margin-bottom: 0.2rem;
        letter-spacing: 1px;
        color: color(medium-grey);
      }
      div {
        font-size: 1rem;
      }
    }
  }
}

.btn-second {
  position: absolute;
  width: 7.8rem;
  padding: 1rem 0 0.5rem 1rem;
  bottom: 2rem;
  right: $desktop-margin;
  outline: none;
  border: none;
  background-color: color(bg);
  cursor: pointer;
  color: color(grey-medium);
  &:hover {
    color: color(grey-dark);
  }
}

@media (max-width: #{$desktop}) {
  .container {
    grid-template-columns: 1fr;
  }
  .container {
    header {
      .header-wrapper {
        position: relative;
        top: 0;
        margin-top: 3rem;
        height: 100%;
      }
    }
    section {
      .quote-container {
        margin: 2rem 0;
      }
    }
  }
}
